@page "/control-panel-settings"

@using System.Security.Claims
@using EnhanceSiteUpdater.Core.Entities
@using EnhanceSiteUpdater.Core.Repository
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject AuthenticationStateProvider AuthenticationStateProvider

@attribute [Authorize]

<PageTitle>Control Panel Settings</PageTitle>

<h1>Control Panel Details</h1>

<p>On this page you can define settings used to connect to your Enhance Control Panel.</p>

<AuthorizeView>
        <RadzenStack Orientation="Orientation.Vertical" Style="padding: 20px 0">
            <RadzenFormField Text="Control Panel Url" Variant="Variant.Text">
                <ChildContent>
                    <RadzenTextBox Name="ControlPanelUrl" @bind-Value="@_controlPanelUrl" />
                </ChildContent>
                <Helper>
                 
                </Helper>
            </RadzenFormField>
            <RadzenFormField Text="Organization Id" Variant="Variant.Text" >
                <RadzenTextBox @bind-Value="@_organizationId"/>
            </RadzenFormField>
            <RadzenFormField Text="Api Key" Variant="Variant.Text">
                <ChildContent>
                    <RadzenTextBox Name="ApiKey" @bind-Value="@_apiKey" Visible="!_apiKeyHidden"/>
                    <RadzenPassword Name="ApiKeyPassword" @bind-Value="@_apiKey" Visible="_apiKeyHidden"/>
                </ChildContent>
                <End>
                    <RadzenButton Click="@ToggleApiKeyVisibility" Icon="@(_apiKeyHidden ? "visibility" : "visibility_off")"/>
                </End>
            </RadzenFormField>
        </RadzenStack>

    <RadzenButton Click="@SaveUserDetails" Text="Save Settings"/>
</AuthorizeView>

@code {

    [Inject] 
    public IUserRepository UserRepository { get; set; }

    public ApplicationUser? User;

    private bool _apiKeyHidden = true;

    private string _controlPanelUrl = "https://";
    private string _organizationId = string.Empty;
    private string _apiKey = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        AuthenticationState authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        ClaimsPrincipal claimsPrincipal = authenticationState.User;
        User = await UserManager.GetUserAsync(claimsPrincipal);

        if (SignInManager.IsSignedIn(claimsPrincipal))
        {
            _controlPanelUrl = User.ControlPanelUrl.ToString();
            _organizationId = User.OrganizationId.ToString();
            _apiKey = User.ApiKey;

        }
    }

    private async Task SaveUserDetails()
    {
        User.ControlPanelUrl = new Uri(_controlPanelUrl);
        User.OrganizationId = Guid.Parse(_organizationId);
        User.ApiKey = _apiKey;
        
        await UserRepository.UpdateUser(User);
    }

    private async Task ToggleApiKeyVisibility()
    {
        _apiKeyHidden = !_apiKeyHidden;
    }
}