@page "/enhance-maintenance"
@using WebsiteMaintainer.Core.Entities
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using WebsiteMaintainer.Web.Components.Cards
@using WebsiteMaintainer.Web.Components.SiteSelectors
@using WebsiteMaintainer.Core.Repository
@inject UserManager<ApplicationUser> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IWebsiteRepository WebsiteRepository

@attribute [Authorize]

<RadzenStack Gap="20px">
    <h1>Enhance Website Maintenance Panel</h1>

    <RadzenRow >
        <h2>Websites</h2>
        
        @if (_addWebsites)
        {
            <RadzenButton Click="@AddWebsites" Size="ButtonSize.ExtraSmall" Te>Close</RadzenButton>
        }
        else
        {
            <RadzenButton Click="@AddWebsites" Size="ButtonSize.ExtraSmall">Add Websites</RadzenButton>
        }
    </RadzenRow>

    <EnhanceSiteSelector User="@_user" ExistingWebsites="_websites" WebsiteAdded="@WebsiteChanged" Showing="_addWebsites"/>

    <RadzenStack  Gap="10px" Orientation="Orientation.Vertical">
        @foreach (Website website in _websites)
        {
        <WebsiteCard Website="@website" WebsiteChanged="@WebsiteChanged"/>
        }
    </RadzenStack>
</RadzenStack>

@code {
    private ApplicationUser _user { get; set; }
    
    private List<Website> _websites = [];

    private bool _addWebsites { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        AuthenticationState authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        _user = await UserManager.GetUserAsync(authenticationState.User);
        
        _websites = await WebsiteRepository.GetAllAsync();

        if (!_websites.Any())
        {
            _addWebsites = true;
        }
    }

    private void AddWebsites()
    {
        _addWebsites = !_addWebsites;
    }

    private async Task WebsiteChanged(Website website)
    {
        if (website.MaintenanceType is MaintenanceType.None)
        {
            await WebsiteRepository.Delete(website);
            _websites.Remove(website);
        }
        else
        {
            await WebsiteRepository.AddOrUpdate(website);
            
            if (!_websites.Contains(website))
            {
                _websites.Add(website);
            }
        }
    }
}